.body{
    background-color: #1a3e5a;
}
.row{
    margin: 0;
    padding: 0;
}
.graph{

}
.graph,.panel{
    margin: 0;
    padding: 0;
}
.panel{
    border: 2px solid black;
}
.parameter{
    display:inline-block;
}
form>input{
    display: block;
    margin-bottom: 20px;
}
